/* === REUSABLE START === */
*{
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
}

h1, h2, h3, h4, h5, h6, nav, .btn  {
  font-family: 'Marcellus', serif;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 22px;
}

p {
  font-size: 18px;
}

.btn {
  margin-top: 25px;
  color: #fff;
  background-color: #ef962d;
  text-transform: uppercase;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: 0px;
}

.btn:hover {
  background-color: #ca7513;
}

fieldset {
  border: 1px solid #ef962d;
}

legend {
  width: auto;
  text-align: center;
  padding: 0 25px;
}

.small {
  font-size: 16px;
  color: #BCBCBC;
}

.icon {
  background-color: #ef962d;
  width: 80px;
  height: 80px;
  padding: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.icon:hover {
  background-color: #ca7513;
}

.break-img {
  height: 30px;
}
/* === REUSABLE END === */


/* === NAVBAR START === */
nav {
  font-weight: 500;
  text-transform: uppercase;
  padding: 0!important;
  background: #ef962d;
}

nav .container{
  background-color: #ef962d;
  padding: 5px 0;
}

nav .collapse{
  padding-top: 13px;
  padding-bottom: 14px;
  background-color: #ef962d;
}

nav img{
  width: 250px;
}

nav .nav-link {
  margin: 0 10px;
}

nav .last-nav-link {
  margin-right: 0;
}

nav .nav-link:hover {
  color: #000!important;
}

nav .dropdown-menu {
  padding: 0;
  border: 1px solid #ef962d;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

nav .dropdown-item{
  text-align: left;
}

nav .nav-link, 
nav .dropdown-item{
  color: #FFF!important;
}

nav .fa {
  color: #fff!important;
  font-size: 30px;
}

nav button:focus {
  outline: 0!important;
}

nav .dropdown-menu{
  background-color: #ef962d;
}

nav .dropdown-item:hover { 
  background-color: #ef962d;
  color: #000!important;
}
/* === NAVBAR END === */


/* === CAROUSEL START === */
header .carousel .carousel-item {
  height: 100vh;
}

header .carousel .carousel-indicators li,
#testimonial .carousel .carousel-indicators li{
  height: 15px;
  width: 15px;
  border: 2px solid #FFF;
  background-color: transparent;
  border-radius: 50%;
  background-clip:unset;
  opacity: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

header .carousel .carousel-indicators .active,
#testimonial .carousel .carousel-indicators .active{
  background-color: #ef962d;
}

header .carousel  .banner1 {
  background-image: url("images/slide1.png");
}

header .carousel .banner2 {
  background-image: url("images/slide2.png");
}

header .carousel .banner3 {
  background-image: url("images/slide3.png");
}

header .carousel .carousel-caption {
  top: 55%;
  transform: translateY(-50%);
  bottom: initial;
}

header .carousel .banner1, 
header .carousel .banner2, 
header .carousel .banner3 {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

header .middle-border{
  padding-top: 10px;
  width: 500px;
  margin: auto;
  border-bottom: 1px solid #fff;
}
/* === CAROUSEL START === */


/* === ABOUT US SECTION START === */
#about-us .welcome {
  max-width: 700px;
  margin: auto;
}

#about-us h2, 
#why-us h2, 
#why-us h4,
#plan h4  {
  color: #242424;
}

#about-us p, #why-us p, #fact p, #process p {
  color: #747474;
}

#about-us .btn {
  color: #fff;
}

#about-us .btn {
  color: #fff;
}

#about-us img {
  margin-top: 36px;
}
/* === ABOUT US SECTION END === */

/* === PLAN SECTION START === */
#plan h3 {
  padding-top: 50%;
  font-weight: 500;
}

#plan h3, #plan a {
  color: #fff;
}

#plan a:hover {
  text-decoration: none;
}

#plan .single-plan {
  height: 400px;
  cursor: pointer;
  overflow: hidden; 
}

#plan .wedding {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/service3.jpg");
  background-position: center center;
}

#plan .crporate {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/service1.jpg");
  background-position: center center;
}

#plan .parties {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/service2.jpg");
  background-position: center center;
}

#plan .event {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/service4.jpg");
  background-position: center center;
}
/* === PLAN SECTION END === */


/* === TESTIMONIAL SECTION START === */
#testimonial {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/testimonial-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

#testimonial .fas {
  color: #ef962d;
  font-size: 50px;
}

#testimonial .carousel-inner{
  max-width: 600px;
}

#testimonial a{
  margin-bottom: 100px;
}

#testimonial .control-icon {
  font-size: 30px;
  background-color: #FFF;
  border: 0px solid #FFF;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* === TESTIMONIAL SECTION END === */

/* === FACT SECTION START === */
#fact, #process {
  background-color: #F4F0EF;
}

#fact h2, #process h2 {
  color: #ef962d;
}

#fact p {
  font-weight: 700;
}
/* === FACT SECTION END === */

/* === MEDIA QUERIES END === */
@media (max-width: 1200px){
  
}

@media (max-width: 992px){
  h1 {
    font-size: 45px;
  }

  header .middle-border{
    width: 400px;
  }

  #testimonial a{
    margin-top: 200px;
  }
}

@media (max-width: 786px){
  h1 {
    font-size: 40px;
  }
  
  header .middle-border{
    width: 300px;
  }

  nav img{
    width: 220px;
  }

  nav .dropdown-menu {
    border: 1px solid #fff;
    padding-top: 0;
  }

  nav .dropdown-item{
    text-align: center;
  }

  nav .navbar-collapse {
    text-align: center;
  }

  nav .nav-link:hover, 
  nav .dropdown-item:hover{
    color: #FFF!important;
  }

}

@media (max-width: 576px){
  h1 {
    font-size: 35px;
  }

  header .middle-border{
    width: 200px;
  }
  
}
/* === MEDIA QUERIES END === */